#progressButton {
    width: 150px;
    height: 50px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.5s, border-radius 0.5s;
    border-radius: 10px; /* Initial border radius */
  }
  
  #progressButton.active {
    background-color: #e74c3c;
    transform: translateX(200px);
    border-radius: 0; /* Changed border radius */
  }
  